@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #272727;
}

/* Map element */
.map-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.app-logo1 {
  position: fixed;
  bottom: 14px;
  left: 14px;
  z-index: 1;
}

.app-logo2 {
  position: fixed;
  bottom: 50px;
  left: 14px;
  z-index: 1;
}
