.ol-control button {
  background-color: rgba(68, 68, 68, 0.85) !important;
}
.ol-control button:hover {
  background-color: rgba(0, 132, 199, 0.85) !important;
}

/* Zoomslider between the zoom-in and zoom-out buttons */
#map-frame .ol-zoom .ol-zoom-out {
  margin-top: 204px;
}
#map-frame .ol-zoomslider {
  background-color: transparent;
  top: 2.3em;
}

#map-frame .ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}
#map-frame .ol-touch .ol-zoomslider {
  top: 2.75em;
}

#map-frame .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map-frame .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
  top: 3px;
}

#map-frame .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map-frame .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
  top: 232px;
}

/* Position the rotate control lower than usual */
#map-frame .ol-rotate {
  top: 3em;
}

#map-frame .ol-zoom-extent {
  top: 280px;
}

#map-frame .ol-mouse-position {
  right: 3em;
  top: 0.85em;
  background: rgba(255, 255, 255, 0.65);
  color: black;
}

#map-frame .ol-scale-line {
  left: auto;
  right: 0.8em;
  bottom: 0.8em;
  background: rgba(68, 68, 68, 0.85);
}

#swipe {
  width: 100%;
  position: absolute;
  top: 40px;
}

#layer-select {
  position: absolute;
  top: 12px;
  right: 12px;
  left: auto;
}
